<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>updateEmployee</title>
</head>
<body>
<div class="container mt-3">

    <h1 class="text-center">Edit Employee</h1>

    <form class="main-form" th:action="@{/editEmployee/} + ${employee.getId()}" th:method="POST" th:object="${employee}">

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" name="name" th:value="${employee.getName()}">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Surname" name="surname" th:value="${employee.getSurname()}">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Country" name="country" th:value="${employee.getCountry()}">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="City" name="city" th:value="${employee.getCity()}">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Address" name="address" th:value="${employee.getAddress()}">
        </div>

        <button type="submit" class="btn btn-success">Save</button>

    </form>
</div>

</body>
</html>